[package]
name = "cli"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.48", features = ["derive"] }
file-format = { version = "0.28.0", features = ["reader"] }
library = { path = "../library" }
vfs = "0.12.2"
