[package]
name = "app"
version = "0.1.0"
description = "A Tauri App"
authors = ["you"]
license = ""
repository = ""
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "app_lib"
crate-type = ["staticlib", "cdylib", "rlib"]

[build-dependencies]
tauri-build = { version = "2.4.1", features = [] }

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
library = { path = "../../library" }
log = "0.4"
tauri = { version = "2.8.5", features = ["devtools"] }
tauri-plugin-log = "2"
strum = { version = "0.27.2", features = ["derive"] }
isolang = { version = "2.4.0", features = ["list_languages", "local_names", "serde"] }
directories = "6.0.0"
anyhow = "1.0.100"
tokio = { version = "1.47.1", features = ["full"] }
tauri-plugin-dialog = "2"
vfs = "0.12.2"
uuid = { version = "1.18.1", features = ["v4"] }
htmlentity = "1.3.2"
